HISTORY = $(SPOOL)/history
ENABLE_HISTORY_ROTATION = TRUE
MAX_HISTORY_LOG = 20000
MAX_HISTORY_ROTATIONS = 2


ALL_DEBUG = D_FULLDEBUG
CERTIFICATE_MAPFILE = /etc/condor/certificate_mapfile
ALLOW_WRITE = $(ALLOW_WRITE) condor@$(CONDOR_HOST) $(CONDOR_HOST) condor@$(FULL_HOSTNAME) user*@$(FULL_HOSTNAME) user*@$(CONDOR_HOST)
GSI_SKIP_HOST_CHECK_CERT_REGEX = .*
DAEMON_LIST = COLLECTOR, MASTER, NEGOTIATOR, SCHEDD

GSI_DAEMON_CERT = /etc/grid-security/hostcert.pem
GSI_DAEMON_KEY = /etc/grid-security/hostkey.pem
GSI_DAEMON_TRUSTED_CA_DIR = /etc/grid-security/certificates

SCHEDD_NAME = vmcondor@vmcondor.iris.ac.uk

NETWORK_HOSTNAME = vmcondor.iris.ac.uk
CONDOR_HOST = $(NETWORK_HOSTNAME)
HOST_ALIAS = $(NETWORK_HOSTNAME)

